@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: rgb(215, 227, 227);
} 

/*-----------Navbar & Canvas--------------*/
h2{
    text-transform: uppercase;
    color: rgb(24, 36, 36);
}

.feature-title{
    font-size: 1.2rem;
    color: rgb(215, 227, 227);
    text-transform: uppercase;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    color: #dc3545;
}

.navbar{
    background-color: rgba(0,0,0,0.1);
    --bs-navbar-toggler-focus-width: 0;
}

.nav-link{
    color:rgb(215, 227, 227);
}

.offcanvas-header, .offcanvas-body{
    background-color: rgb(24, 36, 36);
}

.navbar-brand:hover{
    color:rgb(24, 36, 36);
}

.navbar-toggler{
    border: 0;
}

.offcanvas-body a:hover{
    color:rgb(215, 227, 227);
    background-color: #dc3545;
    text-align: center;
}

/*-----------Modal--------------*/

.modal-content{
    border-radius:0;
}

.modal-header h1{
    text-transform: uppercase;
    color:rgb(24, 36, 36);
}

.modal-body label{
    color: rgb(24, 36, 36);
}

.modal .btn{
    color: rgb(215, 227, 227);
}

.modal .booking-info p{
    color:rgb(24, 36, 36);
}
.form-select{
    border-radius: 0;
}
.form-select:focus{
    box-shadow: 0 0 0 0.25rem rgb(220, 53, 69,75%);
    border-color: #dc3545;
}

/*-----------Hero--------------*/

.hero-1{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-1-c.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-2{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-2-c.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-3{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-3-c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

/*--------Arrow Icon--------*/

.fa-arrow-right-long {
    animation: 5s infinite alternate slidein;
}


@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-3px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.herobottom-info{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.info{
    margin: 0px;
}

.btn{
    border-radius: 0;
    border: 0;
}

.btn-secondary{
    background-color: rgb(24, 36, 36, 0.9);
}

.navbar-toggler-icon:focus-visible{
    outline: none;
    color: transparent;
}
.btn-close:focus{
    box-shadow: none;
}

button{
    border-width: 0;
}

.form-control{
    border-radius: 0;
}

/*-----------Features--------------*/
.yabash-features{
    background-color:rgb(24, 36, 36, 0.9);
    min-height: 30vh;
}

.yabash-features h2{
    font-size: 1.5rem;
    color:rgb(215, 227, 227);
}

/*-----------About---------------*/
#about-yabash{
    color:rgb(24, 36, 36);
    min-height: 50vh;
    background-color:#D9D9D9 ;
}

.about-head,
.kitchen-image,
.contact-head {
    display: flex;
    justify-content: center;
}

.kitchen-image img:hover{
    box-shadow: 30px -10px rgb(24, 36, 36);
}

/*-----------Testimonials--------------*/
#testimonial{
    color: rgb(24, 36, 36);
}

.testimonial-head{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-quote{
    padding: 1rem;
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.2);
}


/*-----------Contacts--------------*/
#map{
    min-height: 320px;
}

#contact{
    position: relative;
    background-color:  rgb(24, 36, 36, 0.9);
    min-height: 50vh;
}

#contact h3{
    font-size: 1.1rem;
    text-decoration: underline;
}

#contact p,
#contact span,
#contact th,
#contact td{
    font-size: 0.8rem;
}


.contact-details{
    color:rgb(215, 227, 227);
}

.contact-copywrite{
    font-size: 0.8rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color:rgb(24, 36, 36);
}

/*-----------social-networks--------------*/
.social-networks>ul{
    display: flex;
    justify-content: center;
}

.social-networks li{
    list-style: none;
}

.social-networks a{
    text-decoration: none;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 800;
    color:rgb(215, 227, 227);
}

.social-networks h3{
    margin-top: 2rem;
}

.social-networks a:hover,
.contact-copywrite a:hover,
.yabash-features i,
.contact-remote i,
.testimonial-content i{
    color: rgb(220, 53, 69,75%);
}

/*-----------Input form--------------*/
.form-control{
    color:rgb(24, 36, 36);
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(220, 53, 69,75%);
    border-color: #dc3545;
}

.form-control:focus-visible{
    outline: none;
}

/*-------------Sign Up -------------*/

.signIn-modal a,
.Registration-modal a{
    color: #dc3545;
}

.signIn-modal a:hover,
.Registration-modal a:hover{
    color:rgb(24, 36, 36);
}
