@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: white;
} 

.hero-1{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-1-c.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-2{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-2-c.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-3{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-3-c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.herobottom-info{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.info{
    margin: 0px;
}

.btn{
    border-radius: 0;
}

/*-----------Features--------------*/
.yabash-features{
    background-color:rgb(24, 36, 36);
    min-height: 30vh;
}


/*-----------About---------------*/
#about-yabash{
    color:rgb(24, 36, 36);
    min-height: 70vh;
    background-color:rgb(215, 227, 227) ;
}

.about-head{
    display: flex;
    justify-content: center;
}

.kitchen-image{
    display: flex;
    justify-content: center;
} 

.kitchen-image img{
    border-radius: 1rem;
}

/*-----------Contacts--------------*/
#contact{
    position: relative;
    background-color:  #732002;
    min-height: 50vh;
}

.contact-head{
    display: flex;
    justify-content: center;
}

.contact-copywrite{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color:rgb(24, 36, 36);
}

/*-----------Testimonials--------------*/
.testimonial{
    color: rgb(24, 36, 36);
}

.testimonial-head{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------social-networks--------------*/
.contact-details{
    color:rgb(215, 227, 227);
}

.contact-details h5{
    color: rgb(24, 36, 36);
}

.social-networks>ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.social-networks li{
    list-style: none;
}

.social-networks a{
    text-decoration: none;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 800;
    color:rgb(215, 227, 227);
}

a:hover {
    color: rgb(24, 36, 36);
}