@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: white;
} 

/*-----------Navbar & Canvas--------------*/

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    color: #dc3545;
}

.navbar{
    background-color: rgba(0,0,0,0.1);
}
.offcanvas-header, .offcanvas-body{
    background-color: rgb(24, 36, 36);
}

.navbar-toggler{
    border: 0;
}

.navbar-toggler:focus-visible{
    outline: hidden;
}

.offcanvas-body a:hover{
    background-color: #dc3545;
    text-align: center;
}

/*-----------Hero--------------*/

.hero-1{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-1-c.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-2{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-2-c.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-3{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-3-c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.herobottom-info{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.info{
    margin: 0px;
}

.btn{
    border-radius: 0;
}
.navbar-toggler-icon:focus-visible{
    outline: none;
    color: transparent;
}
.btn-close:focus{
    box-shadow: none;
}

button{
    border-width: 0;
}

.form-control{
    border-radius: 0;
}

/*-----------Features--------------*/
.yabash-features{
    background-color:rgb(24, 36, 36, 0.9);
    min-height: 30vh;
}


/*-----------About---------------*/
#about-yabash{
    color:rgb(24, 36, 36);
    min-height: 50vh;
    background-color:#D9D9D9 ;
}

.about-head,
.kitchen-image,
.contact-head {
    display: flex;
    justify-content: center;
}

.kitchen-image img:hover{
    border: 2.5px solid rgb(24, 36, 36);
}

/*-----------Testimonials--------------*/
.testimonial{
    color: rgb(24, 36, 36);
}

.testimonial-head{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-quote{
    background-color: #D9D9D9;
    padding: 1rem;
    border: 2px solid white;
}


/*-----------Contacts--------------*/
#map{
    min-height: 320px;
    border-radius: 0.5rem;
}

#contact{
    position: relative;
    background-color:  rgb(24, 36, 36, 0.9);
    min-height: 50vh;
}

#contact h3{
    font-size: 1.2rem;
    text-decoration: underline;
}

.contact-details{
    color:rgb(215, 227, 227);
}

.contact-details h5{
    color: rgb(24, 36, 36);
}

.contact-copywrite{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color:rgb(24, 36, 36);
}

/*-----------social-networks--------------*/
.social-networks>ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.social-networks li{
    list-style: none;
}

.social-networks a{
    text-decoration: none;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 800;
    color:rgb(215, 227, 227);
}

.social-networks h3{
    margin-top: 2rem;
}

.social-networks a:hover {
    color: #dc3545;
}

/*-----------Input form--------------*/
.form-control{
    color:rgb(24, 36, 36);
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(220, 53, 69, 25%)
}